<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
 -->
<template>
  <div id="app">
    <header>
      <nav-bar />
      <chatwoot-integration />
    </header>
    <main class="content">
      <router-view />
    </main>
    <footer>
      <status-bar />
    </footer>
  </div>
</template>
<script>
import NavBar from '@/components/NavBar.vue'
import StatusBar from '@/components/StatusBar.vue'
import configService from '@/services/config.service'
import ChatwootIntegration from '@/components/actions/ChatwootIntegration.vue'
import { mapActions } from 'pinia'
import { usePreferenceStore } from '@/store/preference'
import { useWebsocketStore } from '@/store/websocket'

export default {
  components: { NavBar, StatusBar, ChatwootIntegration },
  metaInfo () {
    return {
      // if no subcomponents specify a metaInfo.title, this title will be used
      title: this.hostname,
      // all titles will be injected into this template
      titleTemplate: '%s | Hai-End Streaming'
    }
  },
  data () {
    return {
      hostname: ''
    }
  },
  created () {
    this.openWebsocketConnection()
    this.loadPreferences()

    const htmlTag = document.documentElement
    htmlTag.setAttribute('lang', this.$i18n.locale)
  },
  mounted () {
    configService.getROProperties().then((result) => {
      this.hostname = result.hostname
    })
  },
  methods: {
    ...mapActions(usePreferenceStore, { loadPreferences: 'load' }),
    ...mapActions(useWebsocketStore, { openWebsocketConnection: 'openConnection' })
  }
}
</script>
<style>
.content {
  margin: calc(60px + env(safe-area-inset-top)) env(safe-area-inset-right) calc(60px + env(safe-area-inset-bottom)) env(safe-area-inset-left);
}
</style>
