<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021, 2023 Stephan Strittmatter
 -->
<template>
  <b-modal
    id="modal-about"
    class="about"
    :title="$t('about_modal.title')"
    :ok-title="$t('about_modal.action.close.title')"
    ok-variant="secondary"
    ok-only
  >
    <b-row>
      <b-col cols="2">
        <b-img
          class="logo"
          src="/img/logo.png"
          left
        />
      </b-col>
      <b-col>
        {{ $t('about_modal.teaser') }}
      </b-col>
    </b-row>
    <hr>
    <div>
      <version-description />
    </div>
  </b-modal>
</template>

<script>
import VersionDescription from '@/components/about/VersionDescription.vue'

export default {
  name: 'AboutModal',
  components: {
    VersionDescription
  }
}
</script>
<style>
.logo {
  height: 4rem;
  margin-right: 1rem;
}
</style>
