<template>
  <b-btn
    class="home-button"
    to="/"
    size="sm"
    :title="$t('actions.home.button.title')"
  >
    <b-icon
      icon="house-fill"
      aria-label="$t('actions.home.button.title')"
    />
  </b-btn>
</template>

<script>
export default {
  name: 'HomeButton'
}
</script>

<style lang="scss" scoped>
.home-button {
  margin-right: 0.5rem;
  float: left;
  .b-icon {
    height: 1.75rem;
    width: 1.75rem;
  }
}
</style>
