<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <b-nav-item-dropdown
    class="locale-switcher"
    right
  >
    <template #button-content>
      <span :class="'fi fi-' + currentLanguageLabel" />
    </template>
    <b-dropdown-item
      v-for="entry in supportedLocales"
      :key="entry.code"
      @click="setLocale(entry.code)"
    >
      <span :class="'fi fi-' + entry.countryCode" />
      {{ entry.name }}
    </b-dropdown-item>
    <b-dropdown-divider />
    <b-dropdown-item
      href="https://translate.hai-end-streaming.de/"
      target="_blank"
    >
      <b-icon
        icon="globe"
        aria-hidden="true"
      />
      {{ $t("navbar.locale-switcher.dropdown-item.translate.label") }}
      <sup>
        <b-icon
          icon="box-arrow-up-right"
          aria-hidden="true"
          style="width: 0.75em"
        />
      </sup>
    </b-dropdown-item>
  </b-nav-item-dropdown>
</template>

<script>
import 'flag-icons/css/flag-icons.min.css'
import { getSupportedLocales } from '@/i18n-support/supported-locales'

export default {
  name: 'LocationSwitcher',
  data () {
    return {
      supportedLocales: []
    }
  },
  mounted () {
    this.supportedLocales = getSupportedLocales()
  },
  computed: {
    currentLanguageLabel () {
      const current = this.supportedLocales.find(
        (language) => language.code === this.$i18n.locale
      )
      return current?.countryCode
    }
  },
  methods: {
    setLocale (locale) {
      this.$i18n.locale = locale
      const htmlTag = document.documentElement
      htmlTag.setAttribute('lang', this.$i18n.locale)
    }
  }
}
</script>
