<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <b-button
    id="stop-stream"
    variant="danger"
    v-b-modal.modal-stop
    :disabled="stopButtonDisabled"
  >
    <b-icon icon="stop-fill" />
    {{ $t("stream-controls.stop-button.label") }}
    <b-modal
      id="modal-stop"
      size="sm"
      :title="$t('stream-controls.stop-button.modal-stop.title')"
      @ok="stopStream"
      :ok-title="$t('stream-controls.stop-button.modal-stop.ok-title')"
      ok-variant="danger"
      :cancel-title="$t('stream-controls.stop-button.modal-stop.cancel-title')"
    >
      <p>
        {{ $t("stream-controls.stop-button.modal-stop.message") }}
      </p>
    </b-modal>
  </b-button>
</template>
<script>
import { mapActions, mapState } from 'pinia'
import { useStreamingStore } from '@/store/streaming'

export default {
  name: 'StopTransmissionButton',
  computed: {
    stopButtonDisabled () {
      return !this.isPlayingStream
    },
    ...mapState(useStreamingStore, ['serverStatus', 'isPlayingStream'])
  },
  methods: {
    ...mapActions(useStreamingStore, ['stopStream'])
  }
}
</script>
