<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <span v-if="bitrate">
    <span class="d-none d-sm-inline px-1">
      <small>{{ $t('video-preview.status-bar.bitrate.label') }}</small>
    </span>
    <b-badge>
      {{ megaBits }} MBit/s
    </b-badge>
  </span>
</template>

<script>
import { mapState } from 'pinia'
import { useStreamingStore } from '@/store/streaming'

export default {
  name: 'BitrateLabel',
  computed: {
    ...mapState(useStreamingStore, ['bitrate']),
    megaBits () {
      return Math.round(this.bitrate.match(/\d+/)[0] / 10) / 100
    }
  }
}
</script>
