<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <span v-if="streamingStatus">
    <b-badge v-if="mediaStates.NULL === streamingStatus.current">
      <b-icon
        icon="stop-fill"
        size="is-small"
      />
      keine Übertragung
    </b-badge>
    <b-badge v-else-if="mediaStates.READY === streamingStatus.current">
      <b-icon
        icon="play"
        size="is-small"
      />
      Bereit zur Übertragung
    </b-badge>
    <b-badge v-else-if="mediaStates.STARTING === streamingStatus.current">
      <b-icon
        icon="play"
        size="is-small"
      />
      Übertragung wird gestartet
    </b-badge>
    <b-badge
      v-else-if="mediaStates.PLAYING === streamingStatus.current"
      variant="success"
    >
      <b-icon
        icon="camera-video-fill"
        size="is-small"
      />
      Übertragung aktiv
    </b-badge>
    <b-badge
      v-else-if="mediaStates.ERROR === streamingStatus.current"
      variant="warning"
    >
      <b-icon
        icon="exclamation-circle-fill"
        size="is-small"
      />
      Serverfehler
    </b-badge>
    <b-badge
      v-else-if="mediaStates.WS_CONNECTION_LOST === streamingStatus.current"
      variant="warning"
    >
      <b-icon
        icon="exclamation-circle-fill"
        size="is-small"
      />
      Browser nicht verbunden
    </b-badge>
    <b-badge
      v-else-if="mediaStates.RECOVER === streamingStatus.current"
      variant="warning"
    >
      <b-icon
        icon="exclamation-circle-fill"
        size="is-small"
      />
      Fehler - restart in progress
    </b-badge>
    <span v-else> Unbekannter Streaming Status: {{ streamingStatus }} </span>
  </span>
</template>

<script>
import { mapState } from 'pinia'
import { useStreamingStore } from '@/store/streaming'
import mediaStates from '@/types/mediaStates'

export default {
  name: 'ServerStatusLabel',
  computed: {

    ...mapState(useStreamingStore, ['streamingStatus']),
    mediaStates () {
      return mediaStates
    }
  }
}
</script>

<style>
</style>
