<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <div id="audio-device-select">
    <label for="audio-device">{{ $t("settings.audio-device.label") }}</label>
    <b-form-select
      v-model="selectedDevice"
      :options="deviceList"
    />
    <p>
      {{ $t("settings.audio-device.hint") }}
    </p>
  </div>
</template>

<script>
import configService from '@/services/config.service'

export default {
  name: 'AudioDeviceSelect',
  data () {
    return {
      currentConfigLoaded: false,
      selectedDevice: null,
      originValue: null,
      deviceList: []
    }
  },
  mounted () {
    this.currentConfigLoaded = false
    configService.getROProperties()
      .then((response) => {
        this.deviceList = response.audio_source_devices.map((item) => {
          return {
            value: item,
            text: item
          }
        })
      })
    configService.get('StreamingDirector.audio_source_device')
      .then((value) => {
        this.selectedDevice = value
        this.originValue = value
      })
  },
  watch: {
    selectedDevice (newVal, oldVal) {
      if (this.originValue !== this.selectedDevice && newVal !== oldVal) {
        configService.set('StreamingDirector.audio_source_device', newVal)
          .then((success) => {
            if (success) {
              this.$bvToast.toast(`Audio Device aktualisiert: ${this.selectedDevice}`, {
                title: 'Einstellungen aktualisiert',
                variant: 'info',
                autoHideDelay: 3000,
                appendToast: true
              })
            } else {
              this.$bvToast.toast('Audio Device konnte nicht aktualisiert werden', {
                title: 'Fehler',
                variant: 'danger',
                autoHideDelay: 3000,
                appendToast: true
              })
            }
          })
      }
    }
  }

}
</script>

<style>
</style>
