<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <div
    v-once
    id="end-card-overlay"
    class="overlay-card"
  >
    <b-overlay
      :show="inProgress"
      rounded="sm"
    >
      <validation-observer
        ref="observer"
        v-slot="{ handleSubmit }"
      >
        <b-form
          @submit.stop.prevent="handleSubmit(setEndCardText)"
        >
          <validation-provider
            name="Abspann"
            v-slot="validationContext"
          >
            <b-form-group
              :label="$t('settings.endcard-overlay.text.label')"
            >
              <b-form-textarea
                rows="2"
                max-rows="2"
                v-model="endCardText"
                :placeholder="$t('settings.endcard-overlay.text.placeholder')"
                :state="getValidationState(validationContext)"
                aria-describedby="input-left-feedback"
                @keyup="handleSubmit(setEndCardText)"
              />
              <b-form-invalid-feedback id="input-left-feedback">
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
              <small>{{ $t('settings.endcard-overlay.hint') }}</small>
            </b-form-group>
          </validation-provider>
        </b-form>
      </validation-observer>
    </b-overlay>
  </div>
</template>

<script>
import configService from '@/services/config.service'

export default {
  name: 'EndCardOverlay',
  data () {
    return {
      endCardText: '',
      inProgress: false
    }
  },
  mounted () {
    this.getEndCardText()
  },
  methods: {
    getValidationState ({ dirty, validated, valid = null }) {
      return dirty || validated ? valid : null
    },
    setEndCardText () {
      this.inProgress = true
      configService.setEndCardText(this.endCardText).then((response) => {
        this.inProgress = false
      })
    },
    getEndCardText () {
      this.inProgress = true
      configService.getEndCardText().then((response) => {
        this.endCardText = response
        this.inProgress = false
      })
    }
  }
}
</script>
