<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
 -->
<template>
  <b-container
    class="home"
    fluid
  >
    <b-row>
      <b-col
        xs="12"
        sm="12"
        md="6"
        xl="4"
      >
        <b-card no-body>
          <b-tabs
            card
            lazy
          >
            <b-tab>
              <template #title>
                <b-spinner
                  v-if="isActiveTransmitStream"
                  type="grow"
                  small
                  variant="danger"
                />
                <b-icon
                  v-else
                  icon="camera-reels"
                />
                {{ $t('home.tab.streaming.title') }}
              </template>
              <b-card-text>
                <streaming-controls />
                <overlay-control v-if="showOverlayFeature" />
              </b-card-text>
            </b-tab>
            <b-tab>
              <template #title>
                <b-spinner
                  v-if="isActiveReceiveStream"
                  type="grow"
                  small
                  variant="danger"
                />
                <b-icon
                  v-else
                  icon="tv"
                />
                {{ $t('home.tab.receive.title') }}
              </template>
              <receive-controls />
            </b-tab>
          </b-tabs>
        </b-card>
      </b-col>
      <b-col
        xs="12"
        sm="12"
        md="6"
        xl="8"
      >
        <b-card>
          <video-preview />
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import StreamingControls from '@/components/actions/StreamingControls.vue'
import ReceiveControls from '@/components/actions/ReceiveControls.vue'
import { mapState } from 'pinia'
import { useStreamingStore } from '@/store/streaming'
import { usePreferenceStore } from '@/store/preference'

import OverlayControl from '@/components/overlays/OverlayControl.vue'
import VideoPreview from '../components/stream/VideoPreview.vue'

export default {
  name: 'HomeView',
  metaInfo () {
    return {
      title: this.hostname
    }
  },
  components: {
    StreamingControls, OverlayControl, ReceiveControls, VideoPreview
  },
  computed: {
    showOverlayFeature () {
      return this.getPreference('overlay', false)
    },
    ...mapState(usePreferenceStore, { getPreference: 'get' }),
    ...mapState(useStreamingStore, ['isActiveTransmitStream', 'isActiveReceiveStream'])
  }
}
</script>
