<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
  Copyright (C) 2023 Carl-Daniel Hailfinger
 -->
<template>
  <b-container
    class="home"
    fluid
  >
    <b-card>
      <video-preview />
    </b-card>
  </b-container>
</template>

<script>

import VideoPreview from '../components/stream/VideoPreview.vue'

export default {
  name: 'PreviewView',
  metaInfo () {
    return {
      title: this.$t('preview.title')
    }
  },
  components: {
    VideoPreview
  }
}
</script>
