<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <b-navbar id="nav-bar" type="dark" variant="dark" fixed="top">
    <b-container fluid>
      <b-navbar-brand to="/" :title="$t('navbar.title')">
        <b-img class="align-top" src="/img/logo.png" height="26" alt="Logo" />
        {{ $t("navbar.title") }}
      </b-navbar-brand>
      <b-navbar-nav class="d-none d-sm-inline-block ml-auto">
        <digital-clock />
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item to="/settings" :title="$t('settings.title')">
          <b-icon icon="gear" aria-hidden="true" />
          <span class="d-none d-sm-inline ml-1">{{
            $t("settings.title")
          }}</span>
        </b-nav-item>
        <b-nav-item-dropdown :text="$t('navbar.help.title')" right>
          <b-dropdown-item
            href="https://docs.hai-end-streaming.de/"
            target="_blank"
          >
            {{ $t("navbar.manual.title") }}
            <sup>
              <b-icon
                icon="box-arrow-up-right"
                aria-hidden="true"
                style="width: 0.75em"
              />
            </sup>
          </b-dropdown-item>
          <b-dropdown-item href="https://hai-end-streaming.de/" target="_blank">
            {{ $t("navbar.homepage.title") }}
            <sup>
              <b-icon
                icon="box-arrow-up-right"
                aria-hidden="true"
                style="width: 0.75em"
              />
            </sup>
          </b-dropdown-item>
          <b-dropdown-item :href="$t('navbar.join-us.url')" target="_blank">
            {{ $t("navbar.join-us.title") }}
            <sup>
              <b-icon
                icon="box-arrow-up-right"
                aria-hidden="true"
                style="width: 0.75em"
              />
            </sup>
          </b-dropdown-item>
          <b-dropdown-divider />
          <b-dropdown-item v-b-modal.modal-about>
            {{ $t("navbar.about.title") }} &hellip;
            <about-modal />
          </b-dropdown-item>
        </b-nav-item-dropdown>
        <locale-switcher />
      </b-navbar-nav>
    </b-container>
  </b-navbar>
</template>

<script>
import LocaleSwitcher from "@/components/actions/LocaleSwitcher.vue";
import DigitalClock from "./DigitalClock.vue";
import AboutModal from "@/components/about/AboutModal.vue";

export default {
  name: "NavBar",
  components: {
    LocaleSwitcher,
    DigitalClock,
    AboutModal,
  },
};
</script>
<style>
#nav-bar {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--text-light);
  padding-top: calc(0.5rem + env(safe-area-inset-top));
  padding-left: calc(1rem + env(safe-area-inset-left));
  padding-right: calc(1rem + env(safe-area-inset-right));
}
</style>
